body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, Meiryo, sans-serif;
}

.header {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url("../images/top@0.75x-80.jpg");
}

nav {

  font-family: "Gothic MB101 Regular";

  h1 {
    text-align: center;
  }

  ul {
    display: flex;
    align-items: center;

    li {

      text-align: center;
      list-style-type: none;
      width: 20%;

      a {
        color: #222;
        text-decoration: none;

        &:hover {
          border-bottom: solid 1px #222;
          color: #222;
        }
      }


    }

  }

}

