$accent: #C1272D;
$accent-transparent: rgba(193,39,45,0.6);
$scrollSize:    90px;

html, body {
  height: 100%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, Meiryo, sans-serif;
}

.header {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url("../images/top@0.75x-80.jpg");
  
  @media screen and (max-width: 840px) {
    height: 100%;
    overflow: hidden;
  }

  .scroll {
  position: absolute;
  left: 50%; bottom: 0;
  height: 0; width: 0;
  
  border-left: $scrollSize solid transparent;
  border-right: $scrollSize solid transparent;
  border-bottom: $scrollSize/1.125 solid $accent;
   @media screen and (max-width: 840px) {
     border-bottom: $scrollSize/1.125 solid $accent-transparent;
   }
  transform: translateX(-50%);
  
    &:before {
      content: '';
      position: absolute;
      top: $scrollSize/2; left: 50%;
      height: $scrollSize/4.5;
      width: $scrollSize/3;
      margin-top: -$scrollSize/9/2;
      margin-left: -$scrollSize/3/2;
      
      background: #fff;
      
      clip-path: polygon(15% 0, 50% 60%, 85% 0, 100% 20%, 50% 100%, 0 20%);
      
      animation: bounce 2s ease infinite;
    }
  }

  @keyframes bounce {
    50% {
      transform:
        scale(.75)
        translateY(-50%);
    }

    100% {
      transform: translateY(0);
    }
    
  }
}

nav {
  background-color: #fff;

  h1 {
    margin-left: 20px;
    padding-top: 8px;
    margin-bottom: 0;

    img {
      max-width: 460px;
      height: auto;
    }

    @media screen and (max-width: 640px) {
      text-align: center;
      margin-left: 0;

      img {
        max-width: 90%;
      }    
    }
  }

  @media screen and (min-width: 841px) {
    ul {
      display: flex;
      align-items: center;
      background-color: $accent;
      height: 40px;

      li {
        text-align: center;
        list-style-type: none;
        margin-top: 8px;
        width: 100%;

        a {
          color: #fff;
          text-decoration: none;

          &:hover {
            border-bottom: solid 1px #fff;
            color: #fff;
          }
        }
      }
    }
  }

  @media screen and (max-width: 840px) {
    ul {
      width: 100%;
      background-color: $accent-transparent;
      float: left;

      li {
        text-align: center;
        list-style-type: none;
        width: 49.7%;
        float: left;
        height: 36px;
        background-color: $accent-transparent;
        margin-bottom: 0;
        border-bottom: solid 1px rgba(255,255,255,0.1);
        padding-top: 10px;

        &:nth-child(odd) {
          border-right: solid 1px rgba(255,255,255,0.1);
        }

        a {
          color: #fff;
          text-decoration: none;

          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
}

.row {
  margin-top: 20px;
}

h3 {
  font-weight: bolder;
}